[[inputs.http_response]]
  urls = ["http://{{ hostvars['01-SRV-APPLI-TRIX']['ansible_host'] }}:8000"]
  tags = { type = "app_internal" }

[[inputs.http_response]]
  urls = ["https://{{ hostvars['01-SRV-APPLI-TRIX']['ansible_host'] }}"]
  tags = { type = "reverse_proxy" }