# --- Langue et Clavier ---
d-i debian-installer/locale string fr_FR
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr(latin9)

# --- Réseau (DHCP par défaut) ---
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-trixie
d-i netcfg/get_domain string trix.internal

# --- Miroir APT (Crucial pour éviter l'écran bleu "Miroir") ---
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# --- Utilisateur & Sécurité ---
d-i passwd/root-login boolean false
d-i passwd/user-fullname string ADM # A personnaliser
d-i passwd/username string adm # A personnaliser
d-i passwd/user-password password <Password> # A personnaliser
d-i passwd/user-password-again password <Password> # A personnaliser
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

# --- Partitionnement (Le déblocage de ton écran actuel) ---
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# --- Paquets de base ---
tasksel tasksel/first multiselect ssh-server, standard
d-i pkgsel/include string sudo, curl, wget
d-i pkgsel/upgrade select full-upgrade

# --- Installation du Bootloader (GRUB) ---
# Sans ça, il va s'arrêter pour te demander où installer GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# --- Fin de l'installation ---
d-i finish-install/reboot_in_progress note

# Configuration de sudo pour l'utilisateur cloudadm
d-i pkgsel/include string sudo
d-i preseed/late_command string \
    echo 'adm ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/adm; \ # A personnaliser
    chmod 440 /target/etc/sudoers.d/adm # A personnaliser