[defaults]
inventory = ./inventory/inventory.proxmox.yml
# On force le chemin vers la collection installée via Git
collections_path = ~/.ansible/collections
host_key_checking = False

[inventory]
# L'ordre est important : le plugin spécifique en premier
enable_plugins = community.proxmox.proxmox, auto, yaml, ini

[ssh_connection]
# Permet d'accélérer en connexions multiples
pipelining = True